<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>caseStudy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css" type="text/css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


     <link rel="stylesheet" href="../stylesheets/case1.css" />
    <script src="case1.js"></script>
</head>

<body>
    <div class="container-fluid" ng-app="caseStudyApp" ng-controller="case1Ctrl">

        
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Wall</a></li>
            <li><a href="#">Info</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Boxes</a></li>
        </ul>
      <br>
      <div class="section share-comment">
        <label> What's on your mind ? </label>
        <div class="input-group">
			 <input type="text" class="form-control">
		     <span class="input-group-btn">
             <button class="btn btn-primary share-button" type="button">Share!</button>
   		   </span>
	   </div>
      </div>
      <br>
     <div class="section comment-buttons">
       <ul class="nav nav-tabs">
            <li class="active"><button class="btn btn-primary" type="button">Ethan + Friends</button></li>
            <li><button class="btn btn-primary" type="button">Just Ethan</button></li>
            <li><button class="btn btn-primary" type="button">Just Friends</button></li>
            <div class="settings"><li ><a href="#"> <i class="fa fa-cog" aria-hidden="true"></i> Settings </a></li></div>
        </ul>
     </div>
     <br>
     <div class="col-lg-12 h-divider"></div>
     <div class="section" ng-repeat="user in userInformation">
         <div class="row">
             <div class="col-sm-1 col-md-1 col-lg-1">
                 <img ng-src="{{user.userPics}}" style="height:100px;width:110px"/>
             </div>
             <div class="col-sm-8 col-md-8 col-lg-8">
                 <span><b style="color:blue">{{user.name}} </b> {{user.description}} </span>
                 <ul class="nav nav-tabs">
                  <li> <a href="#" ng-click="showComment()">Comment </a></li>
                  <li> <a href="#">Like </a></li>
                  <li> <a href="#">Share </a></li>
                  <li> <a href="#">Wall-to-Wall </a></li>
                </ul>
             </div>
             <div class="col-sm-3 col-md-3 col-lg-3">
             </div>
             <div class="col-lg-6" ng-show="comment">
                 <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" rows="3" cols="10" id="comment" ng-model="desc"></input>
                    </div>
                 </div>

                  <div class="col-md-4">
                        <a href="#" class="btn btn-primary btn-md" ng-click="addComments(desc)"><i class="fa fa-plus" aria-hidden="true"></i></a>
                  </div>
            </div>

                <div class="col-lg-12 h-divider"></div>

         </div>
     </div>
</div>


   
</body>

</html>